<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Filter">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
    </div>

    <div class="notes-list">
        <!-- "" -> is used to mention property name while " '' " -> used to mention strings in angular 
        another way is removing the [] from the property and remove '' from property value
        -->
        <app-note-card title = 'This is the title' [body] = "'this is the body content'"></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
    </div>

</div>