<!-- template reference variable using # -->
<div #container class="note-card-container"> 
    <div class="note-card-content">
        <h1 class="note-card-title">{{ title }}</h1>
        <!-- to-do : string interpolation to dynamically load the note-card-title  -->

        <div #bodyText class="note-card-body"> 
            <!-- fade out trumcation -->
            <p>{{ body }}</p>

            <div #truncator class="fade-out-truncation"></div>
             
        </div>

    </div>
    <div class="x-button"></div>
</div>